h1 {
    font-family: fantasy;
    font-weight: bold;
    border: soild 10px;
    border-radius: 10px;
    border-color: blueviolet;
    color: yellowgreen;
}

.roundedbox {
    color: blueviolet;
    background-color: cornsilk;
    border: solid 10px red;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
}